<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Tuning</string>
	<key>CFBundleIdentifier</key>
	<string>lablib.Tuning</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Tuning</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>Tuning Plugin</string>
	<key>CFBundleSignature</key>
	<string>LLkn</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>NSPrincipalClass</key>
	<string>TUNPlugin</string>
</dict>
</plist>
