// Architectures
// Assets
// Build Locations
//  Configuration build must be set to get product in the right place. SYMROOT doesn't do it
CONFIGURATION_BUILD_DIR = $(PROJECT_DIR)/build/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
// Build Options
// Deployment
INSTALL_PATH = @executable_path/../Frameworks
SKIP_INSTALL = YES
// Headers
// Kernel Module
// Linking
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
OTHER_LDFLAGS = -seg1addr 0xd2000000
// Packaging
//INFOPLIST_FILE = LablibITC18_Framework.plist
FRAMEWORK_VERSION = A
PRODUCT_BUNDLE_IDENTIFIER = lablib.lablibMatlab
PRODUCT_NAME = LablibMatlab
WRAPPER_EXTENSION = framework
// Search Paths
HEADER_SEARCH_PATHS = /Applications/MATLAB/extern/include
LIBRARY_SEARCH_PATHS = /Applications/MATLAB/bin/maci64 /Applications/MATLAB/sys/os/maci64
// Signing
// Testing
// Text-Based API
// Versioning

// Apple LLVM 9.0 Address Sanitizer
// Apple LLVM 9.0 Code Generation
// Apple LLVM 9.0 - Custom Compiler Flags
// Apple LLVM 9.0 Language
// Apple LLVM 9.0 Code Generation
// Apple LLVM 9.0 Preprocessing
// Apple LLVM 9.0 Preprocessing
// Apple LLVM 9.0 Undefined Behavior Sanitizer
// Apple LLVM 9.0 Warning Policies
// Apple LLVM 9.0 Warnings - All languages
CLANG_WARN_DOCUMENTATION_COMMENTS = NO
// Apple LLVM 9.0 Warnings - C++
// Apple LLVM 9.0 Warnings - Objective C
// Apple LLVM 9.0 Warnings - Objective C and ARC

// Interface Builder XIB Compiler - Options
// OSACompile - Build Options
// Static Analyzer - Issues - Analysis Policy
// Static Analyzer - Issues - Generic Issues
// Static Analyzer - Issues - Apple APIs
// Static Analyzer - Issues - Objective C
// Static Analyzer - Issues - Security

