// Architectures
ONLY_ACTIVE_ARCH = YES
MACOSX_DEPLOYMENT_TARGET = 10.11
// Assets
// Build Locations
// Build Options
ENABLE_TESTABILITY = YES
// Deployment
DEPLOYMENT_LOCATION = NO
DEPLOYMENT_POSTPROCESSING = NO
COMBINE_HIDPI_IMAGES = YES
//SKIP_INSTALL = YES
COPY_PHASE_STRIP = NO
// Headers
// Kernel Module
// Linking
// Packaging
// Search Paths
FRAMEWORK_SEARCH_PATHS = /Library/Frameworks $(FRAMEWORK_SEARCH_PATHS) /Documents/Lablib/Frameworks/Lablib/build/Development
// Signing
// Testing
// Text-Based API
// Versioning

// Apple LLVM 9.0 Address Sanitizer
// Apple LLVM 9.0 Code Generation
GCC_NO_COMMON_BLOCKS = YES
GCC_OPTIMIZATION_LEVEL = 0
// Apple LLVM 9.0 Custom Compiler Flags
// Apple LLVM 9.0 Language
GCC_PRECOMPILE_PREFIX_HEADER = YES
// Apple LLVM 9.0 Preprocessing
ENABLE_STRICT_OBJC_MSGSEND = YES
// Apple LLVM 9.0 Undefined Behavior Sanitizer
// Apple LLVM 9.0 Warning Policies
GCC_TREAT_WARNINGS_AS_ERRORS = YES
// Apple LLVM 9.0 Warnings - All languages
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VALUE = YES
// Apple LLVM 9.0 Warnings - C++
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
// Apple LLVM 9.0 Warnings - Objective C
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
// Apple LLVM 9.0 Warnings - Objective C and ARC

// Interface Builder XIB Compiler - Options
// OSACompile - Build Options
// Static Analyzer - Issues - Analysis Policy
// Static Analyzer - Issues - Generic Issues
// Static Analyzer - Issues - Apple APIs
// Static Analyzer - Issues - Objective C
// Static Analyzer - Issues - Security


//MW_VERSION = 0.7.dev

//MW_APP_SUPPORT_DIR = /Library/Application Support/MWorks
//MW_BIN_DIR = "$(MW_BIN_DIR_UNQUOTED)"
//MW_BIN_DIR_UNQUOTED = $(MW_DEVELOPER_DIR)/bin
//MW_CLIENT_PLUGINS_DIR = $(MW_APP_SUPPORT_DIR)/Plugins/Client
//MW_CONFIG_DIR = $(MW_APP_SUPPORT_DIR)/Configuration
//MW_DEVELOPER_DIR = $(MW_APP_SUPPORT_DIR)/Developer
//MW_EXAMPLES_DIR = "$(MW_APP_SUPPORT_DIR)/Examples"
//MW_INCLUDE_DIR = "$(MW_INCLUDE_DIR_UNQUOTED)"
//MW_INCLUDE_DIR_UNQUOTED = $(MW_DEVELOPER_DIR)/include
//MW_LIB_DIR = "$(MW_LIB_DIR_UNQUOTED)"
//MW_LIB_DIR_UNQUOTED = $(MW_DEVELOPER_DIR)/lib
//MW_PLUGINS_DIR = $(MW_APP_SUPPORT_DIR)/Plugins/Core
//MW_SCRIPTING_DIR = $(MW_APP_SUPPORT_DIR)/Scripting
//MW_TESTS_DIR = $(MW_DEVELOPER_DIR)/tests
//MW_TESTS_XML_DIR = $(MW_TESTS_DIR)/XML
//MW_XCODE_DIR = $(MW_DEVELOPER_DIR)/Xcode

// For compatibility with existing project files
//APP_SUPPORT_DIR = $(MW_APP_SUPPORT_DIR)
//CLIENT_PLUGINS_DIR = $(MW_CLIENT_PLUGINS_DIR)
//CONFIG_DIR = $(MW_CONFIG_DIR)
//EXAMPLES_DIR = $(MW_EXAMPLES_DIR)
//PLUGINS_DIR = $(MW_PLUGINS_DIR)
//TESTS_DIR = $(MW_TESTS_DIR)

//MW_PYTHON_VERSION = 2.7
//MW_PYTHON_DIR = $(MW_SCRIPTING_DIR)/Python


