// Architectures
// Build Locations
CONFIGURATION_BUILD_DIR = $(PROJECT_DIR)/build/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
// Build Options
// Deployment
INSTALL_PATH = @executable_path/../Frameworks
// Linking
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
OTHER_LDFLAGS = -seg1addr 0xd4000000
LD_RUNPATH_SEARCH_PATHS = /Applications/MATLAB/bin/maci64 /Applications/MATLAB/sys/os/maci64
// Packaging
FRAMEWORK_VERSION = A
INFOPLIST_FILE = Info-Lablib.plist
PRODUCT_BUNDLE_IDENTIFIER = com.lablib.lablib
PRODUCT_NAME = Lablib
// Search Paths
FRAMEWORK_SEARCH_PATHS = $(FRAMEWORK_SEARCH_PATHS) $(SRCROOT)/build/Development
HEADER_SEARCH_PATHS = /Applications/MATLAB/extern/include
LIBRARY_SEARCH_PATHS = /Applications/MATLAB/bin/maci64 /Applications/MATLAB/sys/os/maci64
// Signing
DEVELOPMENT_TEAM = E54G4AFC7H
//Apple LLVM 9.0 - Custom Compiler Flags
WARNING_CFLAGS = -Wmost
// Apple LLVM 9.0 Language
GCC_PREFIX_HEADER = Lablib_Prefix.h
// Apple LLVM 9.0 Code Generation
// Apple LLVM 9.0 Preprocessing
// Apple LLVM 9.0 Warning Policies
// Apple LLVM 9.0 Warnings - All languages
// Apple LLVM 9.0 Warnings - C++
// Apple LLVM 9.0 Warnings - Objective C

