<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VTAzimuthDeg</key>
	<real>3</real>
	<key>VTBehaviorWindowVisible</key>
	<true/>
	<key>VTBehaviorWindowZoom</key>
	<integer>100</integer>
	<key>VTBreakPunishMS</key>
	<integer>0</integer>
	<key>VTKdlPhiDeg</key>
	<real>180</real>
	<key>VTKdlThetaDeg</key>
	<real>90</real>
	<key>VTContrastFactor</key>
	<real>0.5</real>
	<key>VTContrasts</key>
	<integer>8</integer>
	<key>VTCurrentFactor</key>
	<real>0.5</real>
	<key>VTCurrents</key>
	<integer>4</integer>
	<key>VTDAChannel</key>
	<integer>0</integer>
	<key>VTDAChannel</key>
	<integer>0</integer>
	<key>VTDoGate</key>
	<integer>1</integer>
	<key>VTDoSounds</key>
	<true/>
	<key>VTFrequencyHz</key>
	<real>200</real>
	<key>VTGateBit</key>
	<integer>1</integer>
	<key>VTMarkerPulseBit</key>
	<integer>0</integer>
	<key>VTDoMarkerPulse</key>
	<integer>1</integer>
	<key>VTMaxCurrent</key>
	<real>10</real>
	<key>VTPulseWidthUS</key>
	<integer>200</integer>
	<key>VTUAPerV</key>
	<integer>10</integer>
	<key>VTElevationDeg</key>
	<real>3</real>
	<key>VTEyeXYDoGrid</key>
	<true/>
	<key>VTEyeXYDoTicks</key>
	<integer>1</integer>
	<key>VTEyeXYSamplesSaved</key>
	<integer>200</integer>
	<key>VTEyeXYDotSizeDeg</key>
	<real>0.02</real>
	<key>VTEyeXYDrawCal</key>
	<true/>
	<key>VTEyeXYGridDeg</key>
	<real>5</real>
	<key>VTEyeXYHScroll</key>
	<integer>3500</integer>
	<key>VTEyeXYMag</key>
	<real>30</real>
	<key>VTEyeXYOneInN</key>
	<integer>1</integer>
	<key>VTEyeXYTickDeg</key>
	<real>1</real>
	<key>VTEyeXYVScroll</key>
	<integer>3500</integer>
	<key>VTEyeXYWindowVisible</key>
	<true/>
	<key>VTEyeXYFadeDots</key>
	<true/>
	<key>VTFixGraceMS</key>
	<integer>0</integer>
	<key>VTGapMS</key>
	<integer>250</integer>
	<key>VTIntervalMS</key>
	<integer>250</integer>
	<key>VTMaxContrast</key>
	<real>40</real>
	<key>VTDirectionDeg</key>
	<real>0.0</real>
	<key>VTPostintervalMS</key>
	<integer>50</integer>
	<key>VTPreintervalMS</key>
	<integer>250</integer>
	<key>VTRadiusDeg</key>
	<real>1</real>
	<key>VTSigmaDeg</key>
	<real>0.25</real>
	<key>VTSpatialFreqCPD</key>
	<real>4</real>
	<key>VTSpatialPhaseDeg</key>
	<real>45</real>
	<key>VTSpikeWindowVisible</key>
	<true/>
	<key>VTSpikeWindowZoom</key>
	<integer>100</integer>
	<key>VTStimTrainAmplitude</key>
	<real>1.5</real>
	<key>VTStimTrainDAChannel</key>
	<integer>0</integer>
	<key>VTStimTrainDuration</key>
	<integer>250</integer>
	<key>VTStimTrainFrequency</key>
	<real>200</real>
	<key>VTStimTrainMarkPulseChannel</key>
	<integer>0</integer>
	<key>VTStimTrainPulseDuration</key>
	<integer>200</integer>
	<key>VTStimTrainuAPerV</key>
	<integer>1</integer>
	<key>VTStimType</key>
	<integer>0</integer>
	<key>VTTemporalFreqHz</key>
	<real>0.0</real>
	<key>VTTrialWindowVisible</key>
	<true/>
	<key>VTTrialWindowZoom</key>
	<integer>100</integer>
	<key>VTTries</key>
	<integer>1</integer>
	<key>VTAcquireMS</key>
	<integer>2000</integer>
	<key>VTBlockLimit</key>
	<integer>100</integer>
	<key>VTFixSpotSizeDeg</key>
	<real>0.05</real>
	<key>VTFixWindowWidthDeg</key>
	<real>1</real>
	<key>VTFixate</key>
	<true/>
	<key>VTIntertrialMS</key>
	<integer>1500</integer>
	<key>VTNontargetContrastPC</key>
	<integer>100</integer>
	<key>VTRespWindow0Azi</key>
	<real>0.0</real>
	<key>VTRespWindow0Ele</key>
	<real>5.0</real>
	<key>VTRespWindow1Azi</key>
	<real>0.0</real>
	<key>VTRespWindow1Ele</key>
	<real>-5.0</real>
	<key>VTRespTimeMS</key>
	<integer>500</integer>
	<key>VTRespSpotSizeDeg</key>
	<real>0.25</real>
	<key>VTRespWindowWidthDeg</key>
	<real>2</real>
	<key>VTRewardMS</key>
	<integer>100</integer>
	<key>VTSaccadeTimeMS</key>
	<integer>200</integer>
	<key>VTSummaryWindowBrokeCount</key>
	<integer>0</integer>
	<key>VTSummaryWindowComputerCount</key>
	<integer>0</integer>
	<key>VTSummaryWindowCorrectCount</key>
	<integer>0</integer>
	<key>VTSummaryWindowDateCount</key>
	<integer>0</integer>
	<key>VTSummaryWindowFailedCount</key>
	<integer>0</integer>
	<key>VTSummaryWindowIgnoredCount</key>
	<integer>0</integer>
	<key>VTSummaryWindowTotalCount</key>
	<integer>0</integer>
	<key>VTSummaryWindowVisible</key>
	<true/>
	<key>VTSummaryWindowWrongCount</key>
	<integer>0</integer>
	<key>VTSummaryWindowZoom</key>
	<integer>100</integer>
	<key>VTTaskStatus</key>
	<integer>0</integer>
	<key>VTTooFastMS</key>
	<integer>100</integer>
	<key>VTWritingDataFile</key>
	<false/>
</dict>
</plist>
