<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TUNAcquireMS</key>
	<integer>2000</integer>
	<key>TUNBehaviorWindowVisible</key>
	<true/>
	<key>TUNBehaviorWindowZoom</key>
	<integer>100</integer>
	<key>TUNBlockLimit</key>
	<integer>100</integer>
	<key>TUNBreakPunishMS</key>
	<integer>0</integer>
	<key>TUNContrastPC</key>
	<integer>100</integer>
	<key>TUNDoSounds</key>
	<true/>
	<key>TUNEccentricityDeg</key>
	<real>3</real>
	<key>TUNEyeXYDoGrid</key>
	<true/>
	<key>TUNEyeXYDoTicks</key>
	<integer>1</integer>
	<key>TUNEyeXYSamplesSaved</key>
	<integer>200</integer>
	<key>TUNEyeXYDotSizeDeg</key>
	<real>0.02</real>
	<key>TUNEyeXYDrawCal</key>
	<true/>
	<key>TUNEyeXYGridDeg</key>
	<real>5</real>
	<key>TUNEyeXYHScroll</key>
	<integer>3500</integer>
	<key>TUNEyeXYMag</key>
	<real>30</real>
	<key>TUNEyeXYOneInN</key>
	<integer>1</integer>
	<key>TUNEyeXYTickDeg</key>
	<real>1</real>
	<key>TUNEyeXYVScroll</key>
	<integer>3500</integer>
	<key>TUNEyeXYWindowVisible</key>
	<true/>
	<key>TUNEyeXYFadeDots</key>
	<true/>
	<key>TUNFixGraceMS</key>
	<integer>0</integer>
	<key>TUNFixWindowWidthDeg</key>
	<real>1</real>
	<key>TUNFixate</key>
	<true/>
	<key>TUNIntertrialMS</key>
	<integer>1500</integer>
	<key>TUNInterstimJitterPC</key>
	<integer>50</integer>
	<key>TUNInterstimMS</key>
	<integer>250</integer>
	<key>TUNKdlPhiDeg</key>
	<real>180</real>
	<key>TUNKdlThetaDeg</key>
	<real>90</real>
	<key>TUNNumInstructTrials</key>
	<integer>2</integer>
	<key>TUNDirectionDeg</key>
	<real>0.0</real>
	<key>TUNPreStimMS</key>
	<integer>250</integer>
	<key>TUNPolarAngleDeg</key>
	<real>180</real>
	<key>TUNPreStimMS</key>
	<integer>500</integer>
	<key>TUNReactMS</key>
	<integer>750</integer>
	<key>TUNRespTimeMS</key>
	<integer>500</integer>
	<key>TUNRespSpotSizeDeg</key>
	<real>0.25</real>
	<key>TUNRespWindowWidthDeg</key>
	<real>2</real>
	<key>TUNRewardMS</key>
	<integer>100</integer>
	<key>TUNRadiusDeg</key>
	<real>1</real>
	<key>TUNSaccadeTimeMS</key>
	<integer>200</integer>
	<key>TUNSigmaDeg</key>
	<real>0.25</real>
	<key>TUNSpatialFreqCPD</key>
	<real>4</real>
	<key>TUNSpatialModulationType</key>
	<integer>1</integer>
	<key>TUNSpatialPhaseDeg</key>
	<real>90</real>
	<key>TUNSpikeWindowVisible</key>
	<true/>
	<key>TUNSpikeWindowZoom</key>
	<integer>100</integer>
	<key>TUNStimDurationMS</key>
	<integer>250</integer>
	<key>TUNStimJitterPC</key>
	<integer>0</integer>
	<key>TUNStimTypeIndex</key>
	<integer>0</integer>
	<key>TUNStimValues</key>
	<array>
		<dict>
			<key>TUNStimName</key>
			<string>Gabor</string>
			<key>TUNTestValues</key>
			<array>
				<dict>
					<key>TUNTestName</key>
					<string>Direction</string>
					<key>TUNTestSpacingType</key>
					<integer>0</integer>
					<key>TUNCircular</key>
					<true/>
					<key>TUNTestSteps</key>
					<integer>12</integer>
					<key>TUNMaxValue</key>
					<real>330</real>
					<key>TUNMinValue</key>
					<real>0</real>
				</dict>
				<dict>
					<key>TUNTestName</key>
					<string>Contrast</string>
					<key>TUNTestSpacingType</key>
					<integer>1</integer>
					<key>TUNCircular</key>
					<false/>
					<key>TUNTestSteps</key>
					<integer>5</integer>
					<key>TUNMaxValue</key>
					<real>100</real>
					<key>TUNMinValue</key>
					<real>6.25</real>
				</dict>
				<dict>
					<key>TUNTestName</key>
					<string>Spatial Frequency</string>
					<key>TUNTestSpacingType</key>
					<integer>1</integer>
					<key>TUNCircular</key>
					<false/>
					<key>TUNTestSteps</key>
					<integer>4</integer>
					<key>TUNMaxValue</key>
					<real>8</real>
					<key>TUNMinValue</key>
					<real>1</real>
				</dict>
				<dict>
					<key>TUNTestName</key>
					<string>Temporal Frequency</string>
					<key>TUNTestSpacingType</key>
					<integer>1</integer>
					<key>TUNCircular</key>
					<false/>
					<key>TUNTestSteps</key>
					<integer>4</integer>
					<key>TUNMaxValue</key>
					<real>8</real>
					<key>TUNMinValue</key>
					<real>1</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TUNStimName</key>
			<string>Random Dots</string>
			<key>TUNTestValues</key>
			<array>
				<dict>
					<key>TUNTestName</key>
					<string>Direction</string>
					<key>TUNTestSpacingType</key>
					<integer>0</integer>
					<key>TUNCircular</key>
					<true/>
					<key>TUNTestSteps</key>
					<integer>12</integer>
					<key>TUNMaxValue</key>
					<real>330</real>
					<key>TUNMinValue</key>
					<real>0</real>
				</dict>
				<dict>
					<key>TUNTestName</key>
					<string>Speed</string>
					<key>TUNTestSpacingType</key>
					<integer>1</integer>
					<key>TUNCircular</key>
					<false/>
					<key>TUNTestSteps</key>
					<integer>8</integer>
					<key>TUNMaxValue</key>
					<real>128</real>
					<key>TUNMinValue</key>
					<real>1</real>
				</dict>
				<dict>
					<key>TUNTestName</key>
					<string>Contrast</string>
					<key>TUNTestSpacingType</key>
					<integer>1</integer>
					<key>TUNCircular</key>
					<false/>
					<key>TUNTestSteps</key>
					<integer>5</integer>
					<key>TUNMaxValue</key>
					<real>100</real>
					<key>TUNMinValue</key>
					<real>6.25</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TUNStimName</key>
			<string>Bar</string>
			<key>TUNTestValues</key>
			<array>
				<dict>
					<key>TUNTestName</key>
					<string>Direction</string>
					<key>TUNTestSpacingType</key>
					<integer>0</integer>
					<key>TUNCircular</key>
					<true/>
					<key>TUNTestSteps</key>
					<integer>12</integer>
					<key>TUNMaxValue</key>
					<real>330</real>
					<key>TUNMinValue</key>
					<real>0</real>
				</dict>
				<dict>
					<key>TUNTestName</key>
					<string>Speed</string>
					<key>TUNTestSpacingType</key>
					<integer>1</integer>
					<key>TUNCircular</key>
					<false/>
					<key>TUNTestSteps</key>
					<integer>8</integer>
					<key>TUNMaxValue</key>
					<real>128</real>
					<key>TUNMinValue</key>
					<real>1</real>
				</dict>
			</array>
		</dict>
	</array>
	<key>TUNSpeedDPS</key>
	<real>10.0</real>
	<key>TUNSummaryWindowBrokeCount</key>
	<integer>0</integer>
	<key>TUNSummaryWindowComputerCount</key>
	<integer>0</integer>
	<key>TUNSummaryWindowCorrectCount</key>
	<integer>0</integer>
	<key>TUNSummaryWindowDateCount</key>
	<integer>0</integer>
	<key>TUNSummaryWindowFailedCount</key>
	<integer>0</integer>
	<key>TUNSummaryWindowIgnoredCount</key>
	<integer>0</integer>
	<key>TUNSummaryWindowTotalCount</key>
	<integer>0</integer>
	<key>TUNSummaryWindowVisible</key>
	<true/>
	<key>TUNSummaryWindowWrongCount</key>
	<integer>0</integer>
	<key>TUNSummaryWindowZoom</key>
	<integer>100</integer>
	<key>TUNTaskStatus</key>
	<integer>0</integer>
	<key>TUNTemporalFreqHz</key>
	<real>0.0</real>
	<key>TUNTemporalModulationParam</key>
	<integer>1</integer>
	<key>TUNTemporalModulationType</key>
	<integer>2</integer>
	<key>TUNTemporalPhaseDeg</key>
	<real>0</real>
	<key>TUNTooFastMS</key>
	<integer>100</integer>
	<key>TUNTrialWindowVisible</key>
	<true/>
	<key>TUNTrialWindowZoom</key>
	<integer>100</integer>
	<key>TUNStimPerTrial</key>
	<integer>3</integer>
</dict>
</plist>
