<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KNActiveTaskName</key>
	<string>Fixation</string>
	<key>KNDoDataDirectory</key>
	<true/>
	<key>KNWritingDataFile</key>
	<false/>
	<key>KNTerminateSocket</key>
	<false/>
	<key>KNUseEyeLink</key>
	<false/>
	<key>KNUseMatlab</key>
	<false/>
	<key>KNUseNE500Pump</key>
	<false/>
	<key>KNUseSocket</key>
	<false/>
</dict>
</plist>
